* {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.App {
  height: auto;
  width: auto;
  margin: 5px;
}
header {
  display: flex;
}
.nav {
  display: flex;
}

.left-nav {
  display: flex;
  /* align-self: flex-start; */
}

.right-nav {
  /* align-self: center; */
  display: flex;
  justify-content: flex-end;
}

.homepage {
  border: 1px solid black;
  border-radius: 15px;
}
.trending {
  border: 1px solid black;
  border-radius: 15px;
}
.articles {
  border: 1px solid black;
  border-radius: 15px;
  /* background-color: blue; */
}
