* {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.App {
  height: auto;
  width: auto;
  margin: 5px;
}
header {
  display: flex;
}
.nav {
  display: flex;
}

.left-nav {
  align-self: flex-start;
}

.right-nav {
  align-self: center;
  display: flex;
  justify-content: flex-end;
}

.homepage, .trending, .articles {
  border: 1px solid black;
  /* background-color: blue; */
}